{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@stylexjs/babel-plugin",
      {
        "runtimeInjection": false,
        "enableInlinedConditionalMerge": true,
        "treeshakeCompensation": true,
        "aliases": {
          "@/*": ["./src/*"]
        },
        "unstable_moduleResolution": {
          "type": "commonJS",
          "rootDir": "."
        }
      }
    ]
  ]
}
